<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @employee.email %>!</h1>
    <p>Now sign in and search for your next Shift!</p>
  </body>
</html>