<strong>side-bar employee<br></strong>
<br>
<h1>All Job Applications</h1>
<br>

<% if employee_signed_in? %>
  <% current_employee.job_applications.each do |job| %>
  <div class='container'>
    <%= job.content %>
  </div>
<% elsif %>
  <%= flash[:notice] = "You must log in to view job applications"%>
<% end %>

