<% if employer_signed_in? %>
    <%= render 'layouts/navbar/employer'%>
<% elsif employee_signed_in? %>
    <%= render 'layouts/navbar/employee'%>
<% else %>
    <%= render 'layouts/navbar/main_nav'%>
<% end %>
<br>
<% @job_postings.each do |job| %>
  <div class='container'>
    <%= link_to job.title, job %>
  </div>
<% end %>