<strong>Job Application Page</strong>

<p>List of Applications</p>

<h1> Applications for your Job Postings</h1>

<% @job_applications.each do |post|%>
  <div class='container'>
    <%= link_to post.job_posting.title %>
    <%= link_to 'Delete', post, method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>
