<strong>Job Application Page</strong>

<p>List of Applications</p>


  <%# <% if employee_signed_in? %>
    <%# <% current_employee.job_applications.each do |job| %> %>
    <%# <div class='container'> %>
      <%# <%= job_postings.content %> %>
    <%# </div> %>
  <%# <% else %> %>
    <%# <%= flash[:notice] = "You must log in to view job applications"%> %>
  <%# <% end %> %> %>
