<strong>Job Application Page</strong>

<p>List of Applications</p>


<% if employer_signed_in? %>
    <%= render 'layouts/job_applications/employer'%>
<% else employee_signed_in? %>
    <%= render 'layouts/job_applications/employee'%>
<% end %>


