
<% if current_employer.job_postings %>
  <% @job_posting.each do |show| %>
    <div class='container'>
    <%= show.job_applications.employee.employee_profile.first_name %>
    </div>
  <% end %>
<% end %>
