html, 
body {
  height: 100%;
  font-family: 'Crete Round', serif;
  font-size: 1rem;
  color: $mortar;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  background: url(Picture.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $white-smoke !important;
  opacity: .9;
  background: linear-gradient(100deg,#6C08E3,rgba(155, 133, 235, 0.9));
}