html, 
body {
  height: 100%;
  font-family: 'Crete Round', serif;
  font-size: 1rem;
  color: $mortar;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  background-color: black !important;
  opacity: .9;
  
  background: url(wave2.png) no-repeat fixed transparent right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}