$breakpoint-sizes: (
  mc: 320px,
  tn: 540px,
  sm: 768px,
  md: 1008px,
  lg: 1366px,
  gt: 1550px,
  hg: 1920px
);

$breakpoint-size-names: map-keys($breakpoint-sizes);

@mixin breakpoint($point) {

  @if $point == micro {
    @media (min-width: map-get($breakpoint-sizes, 'mc')) { @content; }
  }
  @else if $point == tiny {
    @media (min-width: map-get($breakpoint-sizes, 'tn')) { @content; }
  }
  @else if $point == small {
    @media (min-width: map-get($breakpoint-sizes, 'sm')) { @content; }
  }
  @else if $point == medium {
    @media (min-width: map-get($breakpoint-sizes, 'md')) { @content; }
  }
  @else if $point == large {
    @media (min-width: map-get($breakpoint-sizes, 'lg')) { @content; }
  }
  @else if $point == great {
    @media (min-width: map-get($breakpoint-sizes, 'gt')) { @content; }
  }
  @else if $point == huge {
    @media (min-width: map-get($breakpoint-sizes, 'hg')) { @content; }
  }
}