.button {
  font-size: 1.1rem;
  min-width: 200px;
  padding: 0.6em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s brandground-color ease;
  background-color: $theme-color;
  -webkit-font-smoothing: inherit;
  border: 1px solid $theme-color;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background-color: darken($theme-color, 10%);
    border: 1px solid darken($theme-color, 10%);
    text-decoration: none;
  }
  &:disabled {
    opacity: 0.5;
    cursor: disabled;
  }
}

.button--secondary {
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
    border: 1px solid darken($secondary-color, 10%);
  }
}

.button--tertiary {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: none;
  font-size: 0.9rem;
  min-width: auto;
  &:hover {
    border: 1px solid darken(white, 10%);
    color: darken(white, 10%);
  }
}

.button--success {
  background-color: #78AE6E;
  color: darken(#516657, 10%);
  border: 1px solid #78AE6E;
  &:hover {
    background-color: darken( #78AE6E, 10%);
    border: 1px solid darken(#516657, 10%);
    color: darken(#516657, 10%);
  }
}

.button--danger {
  background-color: #5b363f;
  color: white;
  border: 1px solid#5b363f;
  &:hover {
    background-color: darken( #5b363f, 10%);
    border: 1px solid darken(#5b363f, 10%);
    color: white;
  }
}