$grid-gutter-width: 15px !default;

//** Number of max columns in the grid.
$grid-max-columns: 12 !default;

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--nowrap {
  flex-wrap: nowrap;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--align-items {
  align-items: center;
}

@for $num from 1 through 10 {

  $str: 'gutters';
  @if $num > 1 {
    $str: 'gutters-#{$num}x';
  }

  .flex--#{$str} {
    margin: -($grid-gutter-width * $num) / 2;

    & > * {
      padding: ($grid-gutter-width * $num) / 2;
    }
  }
}

// Generate the various break widths.
$sizes-names: map-keys($breakpoint-sizes);

// Does the widths for all columns
@each $size in $sizes-names {
  @media (min-width: map-get($breakpoint-sizes, $size)) {
    @for $denominator from 1 through $grid-max-columns {
      @for $numerator from 1 through $denominator {
        .col-#{$size}-#{$numerator}-#{$denominator} {
          width: percentage($numerator/$denominator);
        }
      }
    }
  }
}