<% if current_employer %>
    <% @current_employer.job_postings.each do |post|%>
      <div class='container'>
        <strong> <%= link_to post.title, post %> </strong>
        <%= 'starting: '%>
        <%= post.start_time.strftime("%d %b %Y at %H:%m") %>
      </div>
    <% end %>
  <% end %>
