// Base styling
@import './main/breakpoints.scss';
@import './main/font.scss';
@import './main/typography.scss';
@import './main/colors.scss';
@import './main/body.scss';
@import  './main/footer.scss';

// Layout styles
@import './main/content_wrap.scss';
@import './main/content_main.scss';
@import './main/section_panel.scss';
@import './main/flex';

// Element styles
@import './main/body_text.scss';
@import './main/button.scss';
@import './main/chip.scss';
@import './main/headings.scss';

// Component styles
@import './main/employee_profiles.scss';

// Trump styles
@import './main/vertical_divider.scss';

//Navbar
@import './main/navbar.scss';