<div style="margin-top: 30px">
  <div class="content-wrap">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to image_tag('logo_rgb_reverse', height: 50, alt: "Brand"), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li>
              <a><%= link_to 'Employee', employee_session_path, class: "nav-link" %></a>
            </li>
            <li>
              <a><%= link_to 'Employer', employer_session_path, class: "nav-link" %></a>
            </li>
          </ul>
        </div>
      </nav>      
  </div>
</div>

