<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <ul class="footer-nav">
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">AnotherSuperImportantLink</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
  <div class="container text-center">
    <p class='copyright'>&copy; 2019 SlackingAround Team</p>
  </div>
</footer>