<footer id="sticky-footer", class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">© 2019 Copyright: SlackingAround Team
    <a href= '#'></a>
    <a href= '#'></a>
  </div>

</footer>
