<footer class="page-footer font-small blue fixed-bottom">

  <div class="footer-copyright text-center py-3">© 2019 Copyright: SlackingAround Team ||
    <a href= '#'>Terms and Conditions</a> ||
    <a href= '#'>Privacy</a>
  </div>

</footer>
